<%-include("../partials/header") %>

<!-- Modal Code  -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-semibold" id="exampleModalLabel">Reset Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="modal-text">Password Reset link has been successfully sent to your email</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<div class="forgot">
    <label for="exampleInputEmail1" class="form-label text-xl font-semibold">Username</label>
    <input type="text" class="form-control" placeholder="example@mail.com" name="email" id="email" aria-describedby="emailHelp"> 
    <br>  
    <button class="btn btn-primary" id="forgot">Reset Password</button>        
</div>




<%-include("../partials/footer") %>