<%-include("../partials/header") %>




    <% if(error){ %>
        <div class="forgot-div">
            <h1 class="font semi-bold text-6xl">Link Expired😥</h1>
            <br>
            <a class="btn btn-primary btn-lg" href="/forgot-password">Reset Password Again</a>
        </div>
        <% }else{ %>


            <div class="forgot">
                <% if(messages.error){ %>
                    <div class="mb-3 text-center error ">
                        <span class="text-white ṭext-sm font-semibold bg-red-400 py-3 px-3 rounded-full">
                            <%=messages.error%>
                        </span>
                    </div>
                    <% } %>
                        <form action="" method="post">
                            <label for="exampleInputEmail1" class="form-label text-xl font-semibold">New
                                Password</label>
                            <input type="password" class="form-control" placeholder="************" name="pass"
                                aria-describedby="emailHelp">
                            <br>
                            <label for="exampleInputEmail1" class="form-label text-xl font-semibold">Confirm New
                                Password</label>
                            <input type="password" class="form-control" placeholder="************" name="cpass"
                                aria-describedby="emailHelp">
                            <br>
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
            </div>

            <% } %>






 <%-include("../partials/footer") %>