<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if(user.role==="student"){ %>
          <li class="nav-item">
            <a class="nav-link active" href="/registerComplaint">File Complaint</a>
          </li>
          <% }else{ %>
            <li class="nav-item">
              <a class="nav-link active" href="/admin/addadmin">Add Admins</a>
            </li>
            <% } %>
           <%  if(user.role==="student"){ %>
              <li class="nav-item">
                <a class="nav-link active" href="/complaint">View Complaints</a>
              </li>
            <% } else{ %>
              <li class="nav-item">
                <a class="nav-link active" href="/admin/complaints">View Complaints</a>
              </li>
            <% } %>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Hello , <%=user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if(user.role==='student'){ %>
              <li><a class="dropdown-item" href="/user/view/<%=user._id %>">View Profile</a></li>
              <li><a class="dropdown-item" href="/user/edit/<%=user._id %>">Edit Profile</a></li>
              <% } %>
              <li>
                <form id="logout" action="/logout" method="POST">
                <a class="dropdown-item cursor-pointer" onclick="document.getElementById('logout').submit()">Log Out</a>
              </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>