<footer class="bg-light ">
  <p class="text-center font-semibold leading-10">This is the official Website of Madan Mohan Malaviya University of
    Technology. | Best viewed in 1366*768 pixel resolution.</p>
  <div class="d-flex justify-content-center">
    <a href="" class="no-underline hover:text-yellow-600  transition-all duration-300 m-1.5">Copyright Statement</a>
    <a href="" class="no-underline hover:text-yellow-600  transition-all duration-300 m-1.5">Hyperlinking Policy</a>
    <a href="" class="no-underline hover:text-yellow-600  transition-all duration-300 m-1.5">Terms and Conditions</a>
    <a href="" class="no-underline hover:text-yellow-600  transition-all duration-300 m-1.5">Privacy Policy</a>
    <a href="" class="no-underline hover:text-yellow-600  transition-all duration-300 m-1.5">Disclaimer</a>
  </div>
  <p class="text-center font-semibold leading-10">Copyright &copy; MMMUT Gorakhpur All Rights Reserved.</p>

</footer>
<!-- jquery  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="js/app.js" type="module"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>