<%- include("partials/header") -%>


<header>
    <div class="container">
        <h1 class="title text-3xl" id="heading" align="center">Contact Us</h1>
        <div class="info">
          <p align="center"><span class="txt">MADAN MOHAN MALAVIYA UNIVERSITY OF TECHNOLOGY, Gorakhpur</span></p>
          <p align="center"><span class="txt">Phone:<span> +91-551-2273958, +91-8765783730</p>
          <p align="center"><span class="txt">Fax:</span> 0551-2270011</p>
          <p align="center"><span class="txt">P.A. to Vice-Chancellor: </span>Sri Pradeep Kant Singh</p>
          <p align="center"><span class="txt">Phone:</span>+91-9235500502(during office hours)</p>
          <p align="center"><span class="txt">Email:</span> patovc@mmmut.ac.in</p>
          <p align="center"><span class="txt">Phone(Information-Cum-Reception Center):</span> 8765783796</p>
          <p align="center"><span class="txt">Admission Enquiry:</span> 9235500507, 8765783798</p>
          <p align="center"><span class="txt">(On all working days between 9:30 am to 5:00 pm)</span></p>
        </div>
        <div class="icon">
          <a href="https://www.facebook.com/mmmut.ac.in" target="_blank" class="fa fa-facebook"></a>
          <a href="https://twitter.com/MMMUTgkp" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.linkedin.com/school/madan-mohan-malaviya-university-of-technology/" target="_blank" class="fa fa-linkedin"></a>
          <a href="https://www.youtube.com/channel/UCOidItbUnUtuKd2UW57VZWw" target="_blank" class="fa fa-youtube"></a>
        </div>
  </div>
</header>























<%- include("partials/footer") -%>