<%- include("partials/header") -%>

  <!-- Carousel -->
  <div class="header-div">
      <div class="carousel">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="http://www.mmmut.ac.in/images/b8.jpg
    " class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
              <img src="http://www.mmmut.ac.in/images/b7.jpg
    " class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
              <img src="http://www.mmmut.ac.in/images/a58.jpg
    " class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
  <div class="person">
    <div class="per">
      <img src="http://www.mmmut.ac.in/images/Chancellor-111.png" alt="" >
      <div class="inform">
        <p class="font-semibold detail">
          Hon’ble Chancellor &
          <br>
          H.E. Governor of U.P.
        </p>
        <p class="text-center font-semibold" >Smt Anandiben Patel</p>
        <div class="btn-div">
          <button class="btn btn-primary my-1 text-white font-semibold rounded-full">Message</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="per">
      <img src="http://www.mmmut.ac.in/images/CM-G.png" alt="">
      <div class="inform">
        <p class="font-semibold detail">
          Hon'ble Chief Minister
          <br> of U.P.
        </p>
        <p class="text-center font-semibold" >Shri Yogi Adityanath</p>
        <div class="btn-div">
          <button class="btn btn-primary my-1 text-white font-semibold rounded-full">Message</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="per">
      <img src="http://www.mmmut.ac.in/images/VC1.png" alt="">
      <div class="inform">
        <p class="font-semibold detail">
          Hon'ble Vice Chancellor
        </p>
        <p  class="text-center font-semibold" >Prof. J.P. Pandey</p>
        <div class="btn-div">
          <button class="btn btn-primary my-1 text-white font-semibold rounded-full">Message</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="motto">
  <h1 class="motto-heading">Having <span class="text-red-400">Complaints ?</span> Leave it to us</h1>
  <div class="motto-btn">
    <form action="/login">
      <button class="btn btn-primary btn-lg text-white font-semibold m-btn">Login</button>
    </form>
    <form action="/register">
      <button class="btn btn-warning btn-lg text-white font-semibold m-btn">Register</button>
    </form>
  </div>
  </div>
</div>
  <!-- Features -->
  <section id="features">
    <div class="row">
      <div class="col col-lg-4 col-sm-12 feature-box">
        <img src="img/action.png" alt="" class="feature-img">
        <h3 class="font-bold text-2xl cursor-pointer my-16 hover:text-yellow-400 transition-all duration-300">Instant Action</h3>
      </div>
      <div class="col col-lg-4 col-sm-12 feature-box">
        <img src="img/supervision.png" alt="" class="feature-img">
        <h3 class="font-bold text-2xl cursor-pointer my-16 hover:text-yellow-400 transition-all duration-300">Supervision under Vice-Chancellor</h3>
      </div>
      <div class="col col-lg-4 col-sm-12 feature-box">
        <img src="img/checked.png" alt="" class="feature-img">
        <h3 class="font-bold text-2xl cursor-pointer my-16 hover:text-yellow-400 transition-all duration-300">Gauranteed Response</h3>
      </div>
    </div>
  </section>


  <!-- Increment Complaints -->
  <section id="increment">
    <div class="row">
      <div class="col col-lg-4 col-sm-12 feature-box-inc">
        <img src="img/complaint.png" alt="" class="feature-img-inc">
        <div class="counter" data-target="4500"></div>
        <h3 class="font-bold text-2xl text-white my-7">Total Complaints</h3>
      </div>
      <div class="col col-lg-4 col-sm-12 feature-box-inc">
        <img src="img/solved.png" alt="" class="feature-img-inc">
        <div class="counter" data-target="4500"></div>
        <h3 class="font-bold text-2xl text-white my-7">Solved Complaints</h3>
      </div>
      <div class="col col-lg-4 col-sm-12 feature-box-inc">
        <img src="img/queue.png" alt="" class="feature-img-inc">
        <div class="counter" data-target="500"></div>
        <h3 class="font-bold text-2xl text-white my-7">In Queue</h3>
      </div>
    </div>
  </section>



  <%- include("partials/footer") -%>